{% extends 'base.html' %}

{% block title %}
    {{ question }}
{% endblock %}

{% block content %}
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">{{ question }}</h1>
            </div>
            <div class="panel-body">
                {{ question.text }}
            </div>
            <div class="panel-footer">{{ question.author }}</div>
        </div>
    </div>
    <div class="col-md-12">
    {% for e in form.non_field_errors %}
        <div class="alert alert_danger">{{ e }}</div>
    {% endfor %}
    </div>
    <div class="col-md-12">
        <form action="/answer/" method="POST">
            {% csrf_token %}
            <div class="form-group
                 {% if form.text.errors %}has-error{% endif %}">
            <label for="{{ form.text.id_for_label }}">{{ form.text.label }}</label>
            {{ form.text }}
            </div>
            {{ form.question }}
            <button type="submit" class="btn btn-default">Отправить</button>
        </form>
    </div>
    <div class="col-md-12">
        {% for ans in answer %}
            <div class="panel panel-default">
                <div class="panel-body">
                    {{ ans.text }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
